@model IEnumerable<Store.Models.Cart>

<h2>Shopping Cart</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SessionKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            <span>Product Total</span>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SessionKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @{
                decimal? prodPrice = item.ProductPrice;
                decimal q = item.Qty;
                decimal? total = prodPrice * q;
            }
            <span>@total.Value.ToString("c")</span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>

<a href="/Checkout/Index">
    <div class="col-xs-offset-9 col-xs-3 btn btn-primary">
       <span>Checkout</span> 
    </div>
</a>

