@model Store.Models.ChangePasswordModel

<div class="col-xs-12">
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "loginForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "bg-danger" })
        <fieldset>
            <div class="row">
                <div class="form-group loginBox">
                    <div class="logInput">
                        @Html.TextBoxFor(x => x.currentPassword, new { @class = "form-control", @placeholder = "Current Password" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group loginBox">
                    <div class="logInput">
                        @Html.PasswordFor(x => x.newPassword, new { @class = "form-control", @placeholder = "New Password" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group loginBox">
                    <div class="logInput">
                        @Html.PasswordFor(x => x.confirmNewPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="loginSubmit">
                    <div class="logInput">
                        <input type="submit" value="Login" />
                    </div>
                </div>
            </div>
        </fieldset>
    }
</div>