@model Store.Models.ProductModel

<h2>@Model.productName</h2>

@Model.ID
@Model.position
@Model.productBrand
@Model.productDescription
@Model.productPrice.Value.ToString("c")
@Model.size
@Model.sport
@Model.modelNumber
@Model.inStock

@foreach(var i in Model.images)
{
    <div>@i.img</div>
}


