@model Store.Models.User

@{
    ViewBag.Title = "Login";
}

<div class="col-xs-offset-1 col-xs-10 col-xs-offset-1 loginForm">
    @using (Html.BeginForm("Index","Login",FormMethod.Post))
    {
        @Html.ValidationSummary(false, "", new { @class = "bg-danger" })
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Login</legend>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(modelItem => modelItem.Username, new { @class = "control-label col-xs-3 text-right" })
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control col-sm-9" })
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(modelItem => modelItem.Password, new { @class = "control-label col-xs-3 text-right" })
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control col-xs-9" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-2">
                    <input type="submit" value="Submit" />
                </div>
            </div>
        </fieldset>
    }
</div>
